---
import type { GetStaticPaths } from "astro";
//Código Server Side Only - Momento de construcción BUILD TIME
import MainLayout from "@layouts/MainLayout.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response.ts";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import Title from "@components/shared/Title.astro";
import { Icon } from "astro-icon/components";
import Pagination from "@components/pokemons/Pagination.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=200");
  const { results } = (await resp.json()) as PokemonListResponse;

  return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const title = "Pokémon Static | Home";
---

<MainLayout title={title}>
  <Pagination {...page} />
  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-7 lg:gap-5 mt-5"
  >
    {
      page.data.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
  <Pagination {...page} class="pt-6" />
</MainLayout>
